<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="active" [class.entity]="entity == true">Тюнинг</button>
    <button (click)="goAddition()" [class.entity]="entity == true">Доп. услуги</button>
  </div>
  <app-header></app-header>
</div>

<div class="container">
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="fromTeacher > 0">
        <p class="title" [class.entity]="entity == true">С педагогом</p>
        <p class="cost">2 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upFromTeacher()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upFromTeacher()">
        <p class="counter_text"> {{fromTeacher}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px" (click)="downFromTeacher()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downFromTeacher()">
      </div>
    </div>
    <p class="deadlines">срок: 3-4 дня</p>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="withoutTeacher > 0">
        <p class="title" [class.entity]="entity == true">Без педагога</p>
        <p class="cost">3 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upWithoutTeacher()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upWithoutTeacher()">
        <p class="counter_text"> {{withoutTeacher}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px"
             (click)="downWithoutTeacher()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downWithoutTeacher()">
      </div>
    </div>
    <p class="deadlines">срок: 4-5 дня</p>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="extraVoice > 0">
        <p class="title" [class.entity]="entity == true">Доп. голос</p>
        <p class="cost">2 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upExtraVoice()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upExtraVoice()">
        <p class="counter_text"> {{extraVoice}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px" (click)="downExtraVoice()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downExtraVoice()">
      </div>
    </div>
    <p class="deadlines">срок: 3 дня</p>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="online > 0">
        <p class="title" [class.entity]="entity == true">Онлайн</p>
        <p class="cost">2 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upOnline()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upOnline()">
        <p class="counter_text"> {{online}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px" (click)="downOnline()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downOnline()">
      </div>
    </div>
    <p class="deadlines">срок: до 5 дней</p>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goAnalog()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
