@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circe.ttf');
  src: url('/angular/src/assets/circe.eot');
  src: url('/angular/src/assets/circe.eot?iefix') format('eot'),
  url('/angular/src/assets/circe.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(25, 36, 47);
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; /*padding: 0 1em 0 1em;*/
}

.buttonHead {
  display: flex;
  width: 99.6%;
  position: absolute;
  justify-content: center;
  align-items: center;
}



.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 7%;
  margin-top: 5%;
  flex: 1 0 auto;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: default;
}

.container input:checked ~ .check {
  width: 314px;
  height: 94px;
  border: 4px solid rgb(112, 229, 230);
  border-radius: 25px;
}

.container input:hover ~ .check {
  width: 318px;
  height: 98px;
  border: 2px solid rgb(112, 229, 230);
}

.container input:checked ~ .check.entity {
  border-color: rgb(255, 100, 78);
}

.container input:hover ~ .check.entity {
  border-color: rgb(255, 100, 78);
}

.container input:checked ~ .check:after {
  display: block;
}

.title {
  color: rgb(112, 229, 230);
  font: normal 1.4em 'circe';
  text-align: center;
  margin-top: 5%;
}

.title.entity {
  color: rgb(255, 100, 78);
}

.cost {
  color: #fff;
  font: normal 0.9em 'circe';
  text-align: center;
  margin-top: 15%;
}

.deadlines {
  text-align: center;
  margin: 10% 20% 5% 0;
  color: rgb(128, 128, 128);
  font: normal 0.8em 'circe';
}

.wrapper {
  display: flex;
}

.counter {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}

.counter_text {
  color: white;
  text-align: center;
  font: normal 1.2em 'circe';
}

button {
  margin: 0 1em 0 1em;
  width: 7em;
  height: 2.5em;
  background-color: rgb(25, 36, 47);
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: #fff;
  border: 2px solid rgb(80, 163, 164);
  font: normal 1.4em 'circe';
}

button.entity {
  border-color: rgb(90, 45, 42);
}

button:hover {
  border: 3px solid rgb(112, 229, 230);
}

button.entity:hover {
  border: 3px solid rgb(255, 100, 78);
}

.active {
  border: 3px solid rgb(112, 229, 230);
}

.active.entity {
  border: 2px solid rgb(255, 100, 78);
}

div.active {
  width: 198px;
  height: 98px;
  border: 3px solid rgb(112, 229, 230);
}

.check {
  width: 200px;
  height: 100px;
  border: 2px solid rgb(40, 72, 80);
  border-radius: 25px;
}

.check.select {
  border: 2px solid rgb(80, 163, 164);
}

.check.entity {
  border-color: rgb(90, 45, 42);
}

.check.entity.active {
  border-color: rgb(255, 100, 78);
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.ready {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  z-index: 1;
}

.back {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0 1em 1em 1em;
  width: calc(100% - 2em);
}

#button_ready {
  background-color: rgb(80, 163, 164);
}

#button_ready.entity {
  background-color: rgb(255, 100, 78);
}

#button_back {
  margin: 0;
}

.footer_label {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1em);
}

.manager {
  color: #fff;
  font: normal 1em 'circe';
  margin-top: 2em;
}

.date {
  color: #fff;
  font: normal 1em 'circe';
  margin-top: 2em;
}

button:disabled {
  background-color: rgb(14, 29, 29) !important;
  color: #525252 !important;
}

button:disabled.entity {
  background-color: rgb(37, 18, 18) !important;
  color: #525252 !important;
}

/*
@media only screen
and (min-device-width: 1000px) and (max-device-width: 1300px)
and (min-device-height: 700px) and (max-device-height: 900px){
  .container {
    padding-left: 15%;
    padding-right: 15%;
    flex-wrap: wrap;
  }

  .deadlines {
    margin: 7% 20% 12% 0;
  }
}

!*CSS Mobile*!
@media only screen
and (max-device-width: 1024px) {
  .container {
    padding-left: 15%;
    padding-right: 15%;
    flex-wrap: wrap;
  }

  .deadlines {
    margin: 7% 20% 12% 0;
  }
}
*/
