<div class="burger-menu" [class.active]="active" (click)="onBurgerClicked()">
  <div class="burger-container">
    <div class="burger-inner" [class.entity]="entity == true">
      <div class="navigation" [class.show]="active">
        <button [class.entity]="entity == true" (click)="onMixing()">сведение
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button [class.entity]="entity == true" [disabled]="disableAll" (click)="onMastering()">мастеринг
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button [class.entity]="entity == true" [disabled]="disableAll" (click)="onTuning()">тюнинг
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button [class.entity]="entity == true" [disabled]="disableAll" (click)="onAddition()">доп. услуги
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button [class.entity]="entity == true" [disabled]="disableAll" (click)="onFormat()">формат
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button [class.entity]="entity == true" [disabled]="disableUrgency" (click)="onUrgency()">срочность
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button [class.entity]="entity == true" [disabled]="disableUrgency" (click)="onSoundEngineer()">звукорежиссёр
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button [class.entity]="entity == true" [disabled]="disablePayment" (click)="onPayment()">оплата
          <div [class.entity]="entity == true" class="border__bottom"></div>
        </button>
        <button class="long_name" [class.entity]="entity == true" [disabled]="disableRecommendationStudio" (click)="onRecommendation()">
          рекомендации студии
          <div [class.entity]="entity == true" class="long_name border__bottom"></div>
        </button>
        <button class="long_name" [class.entity]="entity == true" [disabled]="disableRecommendationArtist" (click)="onWishes()">пожелания
          артиста
          <div [class.entity]="entity == true" class="long_name border__bottom"></div>
        </button>
      </div>
    </div>
  </div>
</div>
