.burger-menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 1em;
}

.burger-container {
  position: relative;
}

.burger-inner {
  position: absolute;
  width: 22px;
  left: 0;
  top: 11px;
  border: 1px solid rgb(112, 229, 230);
  transition: border-color .2s ease-in .2s;
  z-index: 3;
}

.burger-inner.entity {
  border: 1px solid rgb(255, 100, 78);
}

.burger-inner::before {
  position: absolute;
  content: '';
  top: -6px;
  left: -1px;
  width: 22px;
  border: 1px solid rgb(112, 229, 230);
  transition: top .2s ease-in .3s, transform ease-in .2s;
}

.burger-inner.entity::before {
  border: 1px solid rgb(255, 100, 78);
}

.burger-inner::after {
  position: absolute;
  content: '';
  top: 4px;
  left: -1px;
  width: 22px;
  border: 1px solid rgb(112, 229, 230);
  transition: top .2s ease-in .3s, transform ease-in .2s;
}

.burger-inner.entity::after {
  border: 1px solid rgb(255, 100, 78);
}

.active .burger-container .burger-inner {
  border-color: transparent;
  transition: border-color ease-in .1s;
}

.active .burger-container .burger-inner::before {
  top: -1px;
  transform: rotate(-45deg);
  transition: top ease-out .2s, transform .2s ease-out .3s;
}

.active .burger-container .burger-inner::after {
  top: -1px;
  transform: rotate(45deg);
  transition: top ease-out .2s, transform .2s ease-out .3s;
}

.navigation {
  display: none;
}

.show {
  display: block !important;
  position: relative;
  z-index: 2;
}

button {
  margin: 0 1em 0 1em;
  width: 7em;
  height: 3em;
  position: relative;
  text-align: left;
  background-color: rgb(25, 36, 47);
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: rgba(255, 255, 255, 0.39);
  border: 0 solid rgb(80, 163, 164);
  font: normal 1.4em 'circe';
}

button.long_name {
  width: 11em;
}

.border__bottom {
  width: 60%;
  top: 95%;
  position: absolute;
  border-bottom: 2px solid rgb(80, 163, 164);
}

.border__bottom.entity {
  border-color: rgb(255, 100, 78);
}

.long_name.border__bottom {
  width: 40%;

}

.border__bottom.entity {
  border-color: rgb(90, 45, 42);
}

button:hover {
  color: rgb(255, 255, 255);
}


button:disabled {
  color: #4d4d4d !important;
}

/*
@media only screen
and (min-device-width: 900px) and (max-device-width: 1300px)
and (min-device-height: 700px) and (max-device-height: 900px){
}
*/
