<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button (click)="goMastering()" [class.entity]="entity == true">Мастеринг</button>
    <button (click)="goMasteringOnline()" [class.entity]="entity == true">Онлайн</button>
    <button class="active" [class.entity]="entity == true">Аналоговый</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Wim Bult (Netherlands);6 300 ₽.;срок: 5 дней')" [checked]="wim()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Wim Bult (Netherlands)</p>
        <p class="cost">6 300 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 5 дней</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Kramer (USA);7 500 ₽.;срок: 5 дней')" [checked]="kramer()" >
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Kramer (USA)</p>
        <p class="cost">7 500 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 5 дней</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Dave Blackman (England);7 500 ₽.;срок: 5 дней')" [checked]="dave()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Dave Blackman (England)</p>
        <p class="cost">7 500 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 5 дней</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('John Webber (England);9 500 ₽.;срок: 6 дней')" [checked]="john()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">John Webber (England)</p>
        <p class="cost">9 500 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 6 дней</p>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goMasteringOnline()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
