<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button (click)="goRecommendation()" [class.entity]="entity == true">Рекомендация от студии</button>
    <button class="active" [class.entity]="entity == true">Пожелания артиста</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <p class="recommendation_label" [class.entity]="entity == true">Пожелания артиста</p>
  <textarea [class.entity]="entity == true" (input)="text($event.target.value)" [value]="recommendationArtist"></textarea>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true" [disabled]="disable">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goRecommendation()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
