html {
    background-color: rgb(25, 36, 47);
    height: 100%;
}

.contener {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    flex: 1 0 auto;
    height: 100%;
}

.logo {
    width: 30em
}

#form_login {
    margin-top: 11%;
    width: 22em;
    text-align: center;
}

#login_label {
    text-align: center;
    color: rgb(71, 140, 142);
}

#login_input {
    background-color: rgb(25, 36, 47);
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: white;
    margin-top: 2em;
    width: 80%;
    text-align: center;
    height: 3em;
    outline: none;
}

#form_password {
    padding-top: 2em;
    width: 22em;
    text-align: center;
}

#password_label {
    text-align: center;
    color: rgb(71, 140, 142);
}

#password_input {
    background-color: rgb(25, 36, 47);
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: white;
    margin-top: 2em;
    width: 80%;
    text-align: center;
    height: 3em;
    outline: none;
}

#button_enter {
    margin-top: 5em;
    width: 10em;
    height: 5em;
    background-color: rgb(25, 36, 47);
    color: rgb(71, 140, 142);
    border-radius: 30px;
    box-shadow: none !important;
    background-image: none;
    outline: none;
    border: 2px solid rgb(71, 140, 142);
}

footer{
    position: fixed;
    left: calc(50% - 54px); bottom: 0;
    text-align: center;
    color: white;
    flex: 0 0 auto;
}

