* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(25, 36, 47);
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

#button_mix_onl {
    display: flex;
    width: 480px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 20em;
    height: 4em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 8%;
    flex: 1 0 auto;
}

.container_mixer {
    width: 200px;
    height: 100px;
    border: 2px solid rgb(71, 140, 142);
    border-radius: 15px;
}

.title {
    color: rgb(71, 140, 142);
    font: normal 140% 'trebuchet ms', sans-serif;
    text-align: center;
    margin-top: 7%;
}

.cost {
    color: #fff;
    font: normal 90% 'trebuchet ms', sans-serif;
    text-align: center;
    margin-top: 15%;
}

.deadlines {
    text-align: center;
    margin-top: 17%;
    color: #fff;
}

.deadlines_second {
    text-align: center;
    margin-top: 12%;
    color: #fff;
}

#button_mixing {
    width: 10em;
    height: 3em;
    background-color: rgb(25, 36, 47);
    border-radius: 15px;
    box-shadow: none !important;
    background-image: none;
    outline: none;
    font-size: 1.1em;
    color: #fff;
    border: 2px solid rgb(71, 140, 142);
}

#button_online {
    width: 10em;
    height: 3em;
    background-color: rgb(25, 36, 47);
    border-radius: 15px;
    box-shadow: none !important;
    background-image: none;
    outline: none;
    font-size: 1.1em;
    color: #fff;
    border: 2px solid rgb(71, 140, 142);
}

#button_menu {
    margin-top: 1em;
    margin-left: 144px;
    width: 10em;
    height: 5em;
    background-color: rgb(25, 36, 47);
    border-radius: 15px;
    box-shadow: none !important;
    background-image: none;
    outline: none;
    font-size: 1.1em;
    color: #fff;
    border: 2px solid rgb(71, 140, 142);
}

.ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#button_ready {
    margin-top: 1em;
    width: 6em;
    height: 3em;
    background-color: rgb(80, 163, 163);
    border-radius: 10px;
    box-shadow: none !important;
    background-image: none;
    outline: none;
    color: #fff;
    font-size: 1.1em;
    border: 2px solid rgb(71, 140, 142);
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: calc(100% - 2em);
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.manager {
    color: #fff;
    font: normal 90% 'trebuchet ms', sans-serif;
    margin-top: 2em;
}

#button_back {
    width: 6em;
    height: 3em;
    background-color: rgb(25, 36, 47);
    border-radius: 10px;
    box-shadow: none !important;
    background-image: none;
    outline: none;
    font-size: 1.1em;
    color: #fff;
    border: 2px solid rgb(71, 140, 142);
    margin-top: 80px;
}

.date {
    color: #fff;
    font: normal 90% 'trebuchet ms', sans-serif;
    margin-top: 2em;
}
