<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="headerButton" (click)="goFormat()" [class.entity]="entity == true">Формат</button>
    <button class="active headerButton" [class.entity]="entity == true">Срочность</button>
    <button class="headerButton" (click)="goSoundEngineer()" [class.entity]="entity == true" >Звукорежиссёр</button>
    <button class="headerButton" (click)="goPayment()" [class.entity]="entity == true" [disabled]="disablePayment">Оплата</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <label>
      <input type="radio" name="radio" (change)="select(0)" [checked]="zero()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">0</p>
      </div>
      <p class="deadlines">сегодня - 100%</p>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select(1)" [checked]="one()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">1</p>
      </div>
      <p class="deadlines">завтра - 100%</p>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select(2)" [checked]="two()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">2</p>
      </div>
      <p class="deadlines">два дня - 70%</p>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select(3)" [checked]="three()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">3</p>
      </div>
      <p class="deadlines">три дня - 50%</p>
    </label>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true" >Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goFormat()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
