@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circe.ttf');
  src: url('/angular/src/assets/circe.eot');
  src: url('/angular/src/assets/circe.eot?iefix') format('eot'),
  url('/angular/src/assets/circe.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(25, 36, 47);
  height: 100%;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0; /*padding: 0 1em 0 1em;*/
}

.buttonHead {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.recommendation_label {
  font: normal 1.4em 'circe';
  margin: 0 0 2% 2%;
  color: rgb(80, 163, 164);
}

.recommendation_label.entity {
  color: rgb(255, 100, 78);
}

textarea {
  border: 2px solid rgb(80, 163, 164);
  border-radius: 25px;
  background-color: rgb(25, 36, 47);
  height: 150px;
  font: normal 1em 'circe';
  color: #fff;
  padding: 1% 1% 1% 1%;
}

textarea.entity {
  border-color: rgb(255, 100, 78);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 7%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: default;
}

.container input:checked ~ .check {
  width: 194px;
  height: 94px;
  border: 4px solid rgb(112, 229, 230);
  border-radius: 25px;
}

.container input:hover ~ .check {
  width: 198px;
  height: 98px;
  border: 2px solid rgb(112, 229, 230);
}

.container input:checked ~ .check.entity {
  border-color: rgb(255, 100, 78);
}

.container input:hover ~ .check.entity {
  border-color: rgb(255, 100, 78);
}

.container input:checked ~ .check:after {
  display: block;
}

button {
  margin: 0 0.2em 0 0.2em;
  width: 12em;
  height: 2.5em;
  background-color: rgb(25, 36, 47);
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: #fff;
  border: 2px solid rgb(80, 163, 164);
  font: normal 1.4em 'circe';
}

button.entity {
  border-color: rgb(90, 45, 42);
}

button:hover {
  border: 3px solid rgb(112, 229, 230);
}

button.entity:hover {
  border: 3px solid rgb(255, 100, 78);
}

.active {
  border: 3px solid rgb(112, 229, 230);
}

.active.entity {
  border: 2px solid rgb(255, 100, 78);
}

.ready {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  z-index: 1;
}

.back {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0 1em 1em 1em;
  width: calc(100% - 2em);
}

#button_ready {
  width: 7em;
  background-color: rgb(80, 163, 164);
}

#button_ready.entity {
  background-color: rgb(255, 100, 78);
}

#button_back {
  width: 7em;
  margin: 0;
}

.footer_label {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1em);
}

.manager {
  color: #fff;
  font: normal 1em 'circe';
  margin-top: 2em;
}

.date {
  color: #fff;
  font: normal 1em 'circe';
  margin-top: 2em;
}

button:disabled {
  background-color: rgb(14, 29, 29) !important;
  color: #525252 !important;
}

button:disabled.entity {
  background-color: rgb(37, 18, 18) !important;
  color: #525252 !important;
}

/*
@media only screen
and (min-device-width: 1000px) and (max-device-width: 1300px)
and (min-device-height: 700px) and (max-device-height: 900px){
  .header {
    align-items: flex-start;
  }

  .buttonHead {
    flex-wrap: wrap;
  }

  button {
    margin: 0.5em 1em 0.5em 1em;
  }
}
*/
