@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circe.ttf');
  src: url('/angular/src/assets/circe.eot');
  src: url('/angular/src/assets/circe.eot?iefix') format('eot'),
  url('/angular/src/assets/circe.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; /*padding: 0 1em 0 1em;*/
}

.headline {
  font: normal 2em 'circe';
  color: rgb(80, 163, 164);
}

.logo {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

div.slider {
  display: flex;
  justify-content: flex-start;
  width: 33%;
  padding: 1em 0 1em 1em;
}

button {
  margin: 0;
  width: 7em;
  height: 2.5em;
  background-color: rgb(25, 36, 47);
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: rgb(112, 229, 230);
  border: 2px solid rgb(80, 163, 164);
  font: normal 1.5em 'circe';
}

button.entity {
  color: rgb(255, 100, 78);
  border-color: rgb(90, 45, 42);
}

button:hover {
  border: 3px solid rgb(80, 163, 164);
}

button.entity:hover {
  border: 3px solid rgb(255, 100, 78);
}

.active {
  border: 2px solid rgb(80, 163, 164);
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 64px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgb(80, 163, 164);
  background-color: rgb(25, 36, 47);
  -webkit-transition: .4s;
  transition: .4s;
}

span.slider.entity {
  border-color: rgb(255, 100, 78);
}

span.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(80, 163, 164);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  background-color: rgb(255, 100, 78);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

/* Rounded sliders */
span.slider.round {
  border-radius: 34px;
}

span.slider.round:before {
  border-radius: 50%;
}

.individual {
  padding-right: 1em;
  color: rgb(80, 163, 164);
  font: normal 1.5em 'circe';
}

.padding {
  padding-left: 1em;
}

p.entity {
  color: rgb(255, 100, 78);
  font: normal 1.5em 'circe';
}

p.headline.entity {
  font-size: 2em;
}

.ready {
  display: flex;
  justify-content: center;
}

#button_ready {
  margin-left: 0;
  color: white;
  background-color: rgb(80, 163, 164);;
}

#button_ready.entity {
  background-color: rgb(255, 100, 78);
}

.active.entity {
  border: 2px solid rgb(255, 100, 78);
}

button:disabled {
  background-color: rgb(14, 29, 29) !important;
  color: #525252 !important;
}

button:disabled.entity {
  background-color: rgb(37, 18, 18) !important;
  color: #525252 !important;
}

.container {
  margin: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shell_first_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750px;
  border-bottom: 2px solid rgb(80, 163, 164);
}

.shell_second_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750px;
}

.form {
  margin: 5% 0 2% 0;
  text-align: center;
  width: 250px;
}

.form_border {
  margin: 5% 0 2% 0;
  padding-left: 0;
  text-align: center;
  border-left: 2px solid rgb(80, 163, 164);
  width: 250px;
}

.form_border.entity {
  border-color: rgb(255, 100, 78);
}

.second_form {
  margin: 1% 0 4% 0;
  text-align: center;
  width: 250px;
}

.second_form_border {
  margin: 2% 0 5% 0;
  padding-left: 0;
  text-align: center;
  border-left: 2px solid rgb(80, 163, 164);
  width: 250px;
}

.second_form_border.entity {
  border-color: rgb(255, 100, 78);
}

.second_form_date {
  margin: 2% 0 5% 0;
  text-align: center;
  width: 250px;
}

.top_line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3% 0 4% 0;
}

.bottom_line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 4% 0;
}

.first_row.entity {
  border-color: rgb(255, 100, 78);
}

label {
  text-align: center;
  color: rgb(192, 192, 192);
  font: normal 1.5em 'circe';
}

input {
  background-color: rgb(25, 36, 47);
  border: 0;
  color: white;
  width: 90%;
  text-align: center;
  height: 4em;
  outline: none;
  font: normal 0.9em 'circe';
}

input.date {
  width: 75%;
  margin-left: 25%;
}

.form__error {
  color: red;
  text-align: center;
  margin-top: 3px;
  display: none;
  font: normal 1.5em 'circe';
}
.form__error.show {
  display: block;
}

/*
@media only screen
and (min-device-width: 1000px) and (max-device-width: 1300px)
and (min-device-height: 700px) and (max-device-height: 900px){
  .logo {
    width: 35%;
  }

  div.slider {
    width: 35%;
  }
}
*/
