<div class="header">
  <div class="slider">
    <p class="individual"> физ. лицо </p>
    <label class="switch">
      <input type="checkbox" (click)="changeEntity()" [checked]="entity">
      <span class="slider round" [class.entity]="entity == true"></span>
    </label>
    <p class="entity padding"> юр. лицо </p>
  </div>
  <div>
    <p class="headline" [class.entity]="entity == true">Контакты</p>
  </div>
  <app-header class="logo"></app-header>
</div>
<div class="container">
  <div class="shell_first_row" >
  <div class="first_row"[class.entity]="entity == true">
    <div class="form">
      <label>Артист<br>
        <input type="text" placeholder="Артист" value="{{artist}}" (input)="enterArtist($event.target.value)">
      </label>
    </div>
    <div class="form_border" [class.entity]="entity == true">
      <label>Проект<br>
        <input type="text" placeholder="Проект"  value="{{project}}" (input)="enterProject($event.target.value)">
      </label>
    </div>
    <div class="form_border" [class.entity]="entity == true">
      <label>Название<br>
        <input type="text" placeholder="Название"  value="{{nameSong}}" (input)="enterNameSong($event.target.value)">
      </label>
    </div>
  </div>
  </div>
  <div class="shell_second_row">
    <div class="second_form_date">
      <label>Дата cдачи<br>
        <input type="date" class="date"  (input)="enterDate($event.target.value)" value="{{dateRelease}}">
      </label>
    </div>
    <div class="second_form_border" [class.entity]="entity == true">
      <label>Телефон<br>
        <input type="phone" mask="+0 (000) 000-00-00" placeholder="+7 (000) 000-00-00"  value="{{artistPhone}}" (input)="enterArtistPhone($event.target.value)">
      </label>
    </div>
    <div class="second_form_border" [class.entity]="entity == true">
      <label>Email<br>
        <input type="email" placeholder="Email" value="{{artistEmail}}" (input)="enterArtistEmail($event.target.value)">
      </label>
    </div>

  </div>
  <span [class.show]="incorrectEmail==true" class="form__error">Поле E-Mail должно быть в формате example@site.com</span>
</div>

<div class="ready">
  <button id="button_ready" (click)="next()" [class.entity]="entity == true" [disabled]="disable" >Далее</button>
</div>
