@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circe.ttf');
  src: url('/angular/src/assets/circe.eot');
  src: url('/angular/src/assets/circe.eot?iefix') format('eot'),
  url('/angular/src/assets/circe.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(25, 36, 47);
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; /*padding: 0 1em 0 1em;*/
}

.buttonHead {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.noturgency {
  font: normal 1em 'circe';
  border-collapse: collapse;
  border-top: 3px solid rgb(184, 184, 184);
  border-bottom: 3px solid #fff;
  text-align: center;
}

.urgency {
  font: 1em 'circe';
  border-collapse: collapse;
  border-top: 3px solid rgb(184, 184, 184);
  border-bottom: 3px solid #fff;
  text-align: center;
}

th {
  padding: 10px 25px;
}

td {
  padding: 10px 25px;
}

.headline {
  color: rgb(80, 163, 164);
  border-bottom: 2px solid rgb(85, 91, 98);
}

.nameblock {
  color: rgb(80, 163, 164);
  text-align: left;
  padding: 10px 25px 10px 0;
}

.row {
  color: #fff;
  border-bottom: 2px solid rgb(85, 91, 98);
}

.total {
  border-top: 3px solid #fff;
}

.total_label {
  color: #fff;
  font: normal 1.1em 'circe';
  padding: 10px 25px 10px 0;
  text-align: left;
}

.last_label {
  padding: 10px 0 10px 25px;
  text-align: right;
}

.last_row {
  padding: 10px 0 10px 25px;
  text-align: right;
}

.total_sum {
  color: rgb(80, 163, 164);
  font: normal 1.1em 'circe';
  padding: 10px 0 10px 25px;
  text-align: right;
}

.total_sum.entity {
  color:rgb(255, 100, 78);
}

.total_sum2 {
  color: #fff;
  font: normal 1.1em 'circe';
  padding: 10px 0 10px 25px;
  text-align: center;
}

.total_sum2.entity {
  color:rgb(255, 100, 78);
}

.total_sum_urgency {
  color: rgb(80, 163, 164);
  font: normal 1.3em 'circe';
  padding: 10px 0 10px 25px;
  text-align: right;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  flex: 1 0 auto;
}

.title {
  color: rgb(112, 229, 230);
  font: normal 1.4em 'circe';
  text-align: center;
  margin-top: 7%;
}

button {
  margin: 0 1em 0 1em;
  width: 7em;
  height: 2.5em;
  background-color: rgb(25, 36, 47);
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: #fff;
  border: 2px solid rgb(80, 163, 164);
  font: normal 1.4em 'circe';
}

button.entity {
  border-color: rgb(90, 45, 42);
}

button:hover {
  border: 3px solid rgb(112, 229, 230);
}

button.entity:hover {
  border: 3px solid rgb(255, 100, 78);
}

.active {
  border: 3px solid rgb(112, 229, 230);
}

.active.entity {
  border: 2px solid rgb(255, 100, 78);
}

.ready {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  z-index: 1;
}

.back {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*position: fixed;*/
  bottom: 0;
  padding: 2em;
  /*padding: 0 1em 1em 1em;
  width: calc(100% - 2em);*/
}

#button_ready {
  background-color: rgb(80, 163, 164);
}

#button_ready.entity {
  background-color: rgb(255, 100, 78);
}

#button_back {
  margin: 0;
}

.footer_label {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1em);
}

.manager {
  color: #fff;
  font: normal 1em 'circe';
  margin-top: 2em;
}

.date {
  color: #fff;
  font: normal 1em 'circe';
  margin-top: 2em;
}

.headline.entity {
  color: rgb(255, 100, 78);
}

.nameblock.entity {
  color: rgb(255, 100, 78);
}

.total_sum_urgency.entity {
  color: rgb(255, 100, 78);
}

/*
@media only screen
and (min-device-width: 800px)
and (max-device-width: 900px)
and (min-device-height: 1280px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  .check {
    margin-top: 25%;
  }

  .ready {
    margin-top: 20%;
  }
}
*/
