<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="active" [class.entity]="entity == true" >Итого</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <table class="noturgency" *ngIf="this.service.urgency===null">
    <tr class="headline" [class.entity]="entity == true">
      <th></th>
      <th>Кол-во</th>
      <th>Цена</th>
      <th class="last_label">Сумма</th>
    </tr>
    <tr class="row" *ngFor="let container of mixContainers">
      <td class="nameblock" [class.entity]="entity == true"><b>{{container.name}}</b></td>
      <td *ngIf="container.count > 0">{{container.count}}</td>
      <td *ngIf="container.count === undefined">1</td>
      <td>{{container.cost}}</td>
      <td class="last_row">{{exitNumber(sum(container.count, container.cost)) + " ₽"}} </td>
    </tr>
    <tr class="total">
      <td class="total_label" [class.entity]="entity == true"><b>Итого:</b></td>
      <td></td>
      <td></td>
      <td class="total_sum" [class.entity]="entity == true"><b>{{exitNumber(total) + " ₽"}}</b></td>
    </tr>
  </table>
  <table class="urgency" *ngIf="this.service.urgency!==null">
    <tr class="headline" [class.entity]="entity == true">
      <th></th>
      <th>Срочность</th>
      <th>Кол-во</th>
      <th>Цена</th>
      <th>Сумма</th>
      <th class="last_label">Итого с учётом срочности:</th>
    </tr>
    <tr class="row" *ngFor="let container of mixContainers; let i = index">
      <td class="nameblock" [class.entity]="entity == true"><b>{{container.name}}</b></td>
      <td>{{urgency}}</td>
      <td *ngIf="container.count > 0">{{container.count}}</td>
      <td *ngIf="container.count === undefined">1</td>
      <td>{{container.cost}}</td>
      <td>{{exitNumber(sumUrgency(container.count, container.cost))+ " ₽"}}</td>
      <td class="last_row">{{exitNumber(totalUrgency(i, urgency)) + " ₽"}}</td>
    </tr>
    <tr class="total">
      <td class="total_label" [class.entity]="entity == true"><b>Итого:</b></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="total_sum2"><b>{{exitNumber(total) + " ₽"}}</b></td>
      <td class="total_sum_urgency" [class.entity]="entity == true"><b>{{exitNumber(totalSumUrgency) + " ₽"}}</b></td>
    </tr>
  </table>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goWishes()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
