<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="active" [class.entity]="entity == true">Сведение</button>
    <button (click)="onOnline()" [class.entity]="entity == true">Онлайн</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Предсведение;3 000 ₽.;срок: 2-4 дня')" [checked]="presentation()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Предсведение</p>
        <p class="cost">3 000 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 2-4 дня</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Базовое;5 000 ₽.;срок: 4-5 дней')" [checked]="basic()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Базовое</p>
        <p class="cost">5 000 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 4-5 дней</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('II уровень;10 000 ₽.;срок: 5-6 дней')" [checked]="secondLevel()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">II уровень</p>
        <p class="cost">10 000 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 5-6 дней</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('I уровень;16 000 ₽.;срок: 6-9 дней')" [checked]="firstLevel()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">I уровень</p>
        <p class="cost">16 000 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 6-9 дней</p>
  </div>
</div>
<footer>
<!--  <button id="button_back" [class.entity]="entity == true" (click)="onContacts()">Назад</button>
  <div class="footer_label">
    <p class="manager">Менеджер: <b>Мария Гольм</b></p>
    <p class="date">Дата: <b>20.05.19г.</b></p>
  </div>-->
  <div class="ready">
    <button id="button_ready" (click)="onOnline()" [class.entity]="entity == true">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="onContacts()" [class.entity]="entity == true" >Назад</button>
  </div>
</footer>
