<div class="container">
  <img class="logo" src="../../../assets/logo.png" alt="logo">
  <div id="form_login">
    <label id="login_label">Логин<br>
      <input id="login_input" type="email" placeholder="Email" (input)="enterEmail($event.target.value)">
    </label>
  </div>
  <div id="form_password">
    <label id="password_label" style="" >Пароль<br>
      <input id="password_input" type="password" placeholder="Password" >
    </label>
  </div>
  <div>
    <button id="button_enter" (click)="onSubmit()">Войти</button>
  </div>
</div>
<footer><p>© Resonant Arts</p></footer>

