@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circe.ttf');
  src: url('/angular/src/assets/circe.eot');
  src: url('/angular/src/assets/circe.eot?iefix') format('eot'),
  url('/angular/src/assets/circe.woff') format('woff');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  flex: 1 0 auto;
  height: 100%;
}

.logo {
  width: 30em
}

p {
  font: normal 1em 'circe' ;
}

#form_login {
  margin-top: 4em;
  width: 22em;
  text-align: center;
}

#login_label {
  text-align: center;
  color: rgb(80, 163, 164); /*rgb(80, 163, 164);*/
  font: normal 1.5em 'circe';
}

#login_input {
  background-color: rgb(25, 36, 47);
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: white;
  margin-top: 0.5em;
  width: 80%;
  text-align: center;
  height: 3em;
  outline: none;
  font: normal 0.9em 'circe';
}

#form_password {
  padding-top: 2em;
  width: 22em;
  text-align: center;
}

#password_label {
  text-align: center;
  color: rgb(80, 163, 164); /*rgb(80, 163, 164);*/
  font: normal 1.5em 'circe';
}

#password_input {
  background-color: rgb(25, 36, 47);
  border-width: 1px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: white;
  margin-top: 0.5em;
  width: 80%;
  text-align: center;
  height: 3em;
  outline: none;
  font: normal 0.9em 'circe';
}

#button_enter {
  margin-top: 4em;
  width: 8em;
  height: 3em;
  background-color: rgb(25, 36, 47);
  color: rgb(112, 229, 230); /*rgb(80, 163, 164);*/
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  border: 2px solid rgb(80, 163, 164); /*rgb(80, 163, 164);*/
  font: normal 1.5em 'circe';
}

#button_enter:hover {
  border: 3px solid rgb(112, 229, 230);
}

footer {
  position: fixed;
  left: calc(50% - 54px);
  bottom: 0;
  text-align: center;
  color: white;
  flex: 0 0 auto;
}

