<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="headerButton" (click)="goFormat()" [class.entity]="entity == true">Формат</button>
    <button class="headerButton" (click)="goUrgency()" [class.entity]="entity == true">Срочность</button>
    <button class="headerButton" (click)="goSoundEngineer()" [class.entity]="entity == true">Звукорежиссёр</button>
    <button class="active headerButton" [class.entity]="entity == true">Оплата</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <label>
      <img src="../../../assets/sberbank.png" [class.select]="selectSberbank()">
      <input type="radio" name="radio" (change)="select('Сбербанк')" [checked]="sberbank()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Сбербанк</p>
      </div>
    </label>
  </div>
  <div>
    <label>
      <img src="../../../assets/cash.png" [class.select]="selectCash()">
      <input type="radio" name="radio" (change)="select('Наличные')" [checked]="cash()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Наличные</p>
      </div>
    </label>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true" [disabled]="disable">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goSoundEngineer()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
