<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="headerButton" (click)="goFormat()" [class.entity]="entity == true">Формат</button>
    <button class="headerButton" (click)="goUrgency()" [class.entity]="entity == true">Срочность</button>
    <button class="active headerButton" [class.entity]="entity == true">Звукорежиссёр</button>
    <button class="headerButton" (click)="goPayment()" [class.entity]="entity == true" [disabled]="disablePayment">
      Оплата
    </button>
  </div>
  <app-header></app-header>
</div>
<div class="responsible" [class.entity]="entity == true">
  <p class="responsible_label">Ответственный за запись</p>
</div>
<div class="container">
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Саша П.')" [checked]="sasha()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Саша П.</p>
      </div>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Даша П.')" [checked]="dasha()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Даша П.</p>
      </div>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Гриша Ч.')" [checked]="grisha()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Гриша Ч.</p>
      </div>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Стас К.')" [checked]="stas()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Стас К.</p>
      </div>
    </label>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true" [disabled]="disable">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goUrgency()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
