<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button (click)="goTuning()" [class.entity]="entity == true">Тюнинг</button>
    <button class="active" [class.entity]="entity == true">Доп. услуги</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="revision > 0">
        <p class="title" [class.entity]="entity == true">Редакция (музыка)</p>
        <p class="cost">2 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upRevision()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upRevision()">
        <p class="counter_text"> {{revision}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px" (click)="downRevision()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downRevision()">
      </div>
    </div>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="backingVocal > 0">
        <p class="title" [class.entity]="entity == true">Бэк-вокал (вся песня)</p>
        <p class="cost">5 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upBackingVocal()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upBackingVocal()">
        <p class="counter_text"> {{backingVocal}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px" (click)="downBackingVocal()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downBackingVocal()">
      </div>
    </div>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="soundDesign > 0">
        <p class="title" [class.entity]="entity == true">Саунд-дизайн</p>
        <p class="cost">2 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upSoundDesign()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upSoundDesign()">
        <p class="counter_text"> {{soundDesign}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px" (click)="downSoundDesign()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downSoundDesign()">
      </div>
    </div>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="revisionVoiceActing > 0">
        <p class="title" [class.entity]="entity == true">Редакция (озвучка)</p>
        <p class="cost">3 500 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px"
             (click)="upRevisionVoiceActing()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upRevisionVoiceActing()">
        <p class="counter_text"> {{revisionVoiceActing}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px"
             (click)="downRevisionVoiceActing()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px"
             (click)="downRevisionVoiceActing()">
      </div>
    </div>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="backingVocalParty > 0">
        <p class="title" [class.entity]="entity == true">Бэк-вокал (партия)</p>
        <p class="cost">3 000 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upBackingVocalParty()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upBackingVocalParty()">
        <p class="counter_text"> {{backingVocalParty}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px"
             (click)="downBackingVocalParty()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downBackingVocalParty()">
      </div>
    </div>
  </div>
  <div>
    <div class="wrapper">
      <div class="check" [class.entity]="entity == true" [class.active]="tunecore > 0">
        <p class="title" [class.entity]="entity == true">Tunecore</p>
        <p class="cost">1 500 ₽</p>
      </div>
      <div class="counter">
        <img *ngIf="!entity" src="../../../assets/arrow_up_individual.svg" width="20px" (click)="upTunecore()">
        <img *ngIf="entity" src="../../../assets/arrow_up_entity.svg" width="20px" (click)="upTunecore()">
        <p class="counter_text"> {{tunecore}}</p>
        <img *ngIf="!entity" src="../../../assets/arrow_down_individual.svg" width="20px" (click)="downTunecore()">
        <img *ngIf="entity" src="../../../assets/arrow_down_entity.svg" width="20px" (click)="downTunecore()">
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goTuning()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
