<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="active headerButton" [class.entity]="entity == true">Формат</button>
    <button class="headerButton" (click)="goUrgency()" [class.entity]="entity == true" [disabled]="disableUrgency">Срочность</button>
    <button class="headerButton" (click)="goSoundEngineer()" [class.entity]="entity == true" [disabled]="disableSoundEngineer">Звукорежиссёр</button>
    <button class="headerButton" (click)="goPayment()" [class.entity]="entity == true" [disabled]="disablePayment">Оплата</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <label>
      <input type="radio" name="radio"  (change)="select('MP3')" [checked]="mp3()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">MP3</p>
      </div>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio"  (change)="select('WAV')" [checked]="wav()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">WAV</p>
      </div>
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="radio"  (change)="select('Мультитрек')" [checked]="multitrek()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Мультитрек</p>
      </div>
    </label>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true" [disabled]="disable">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goAddition()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
