<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button (click)="goMixing()" [class.entity]="entity == true">Сведение</button>
    <button class="active" [class.entity]="entity == true">Онлайн</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <label>
      <input type="radio" name="radio"  (change)="select('Базовое;4000 Р.;срок: до 10 дней')" [checked]="basic()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Базовое</p>
        <p class="cost">4 000 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: до 10 дней</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio"  (change)="select('II уровень;8000 Р.;срок: до 12 дней')" [checked]="secondLevel()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">II уровень</p>
        <p class="cost">8 000 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: до 12 дней</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio"  (change)="select('Базовое;5000 Р.;срок: до 14 дней')" [checked]="firstLevel()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">I уровень</p>
        <p class="cost">14 000 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: до 14 дней</p>
  </div>
</div>
<footer>
  <!--<button id="button_back" (click)="goMixing()" [class.entity]="entity == true">Назад</button>
  <div class="footer_label">
    <p class="manager">Менеджер: <b>Мария Гольм</b></p>
    <p class="date">Дата: <b>20.05.19г.</b></p>
  </div>-->
  <div class="ready">
    <button id="button_ready" (click)="goMastering()" [class.entity]="entity == true" [disabled]="disable">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goMixing()" [class.entity]="entity == true" >Назад</button>
  </div>
</footer>
