@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circe.ttf');
  src: url('/angular/src/assets/circe.eot');
  src: url('/angular/src/assets/circe.eot?iefix') format('eot'),
  url('/angular/src/assets/circe.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(25, 36, 47);
  height: 100%;
}

.divNext {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.divNext:hover {
  border-color: rgb(80, 163, 164);
}

.divNext.entity:hover {
  border-color: rgb(255, 100, 78);
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0; /*padding: 0 1em 0 1em;*/
}

.buttonHead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

button {
  margin: 0;
  width: 7em;
  height: 2.5em;
  background-color: rgb(25, 36, 47);
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: #fff;
  border: 2px solid rgb(80, 163, 164);
  font: normal 1.4em 'circe';
}

button.entity {
  color: rgb(255, 100, 78);
  border-color: rgb(90, 45, 42);
}

button:hover {
  border: 2px solid rgb(112, 229, 230);
}

button.entity:hover {
  border-color: rgb(255, 100, 78);
}

.active {
  text-align: center;
  font: normal 1.4em 'circe';
  width: 100%;
  margin-left: 4em;
  border: 0;
  color:  rgb(80, 163, 164);
}

.header {
  display: flex;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 24px;
}

div.slider {
  display: flex;
  justify-content: flex-end;
}

label{
  position: relative;
}

a{
  position: absolute;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgb(80, 163, 164);
  background-color: rgb(25, 36, 47);
  -webkit-transition: .4s;
  transition: .4s;
}

span.slider.entity {
  border-color: rgb(255, 100, 78);
}

span.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(80, 163, 164);
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
span.slider.round {
  border-radius: 34px;
}

span.slider.round:before {
  border-radius: 50%;
}

p.entity {
  color: rgb(255, 100, 78);
}

#button_ready {
  margin-left: 0;
  width: 6em;
  height: 3em;
  color: white;
  background-color: rgb(80, 163, 164);
  border-radius: 10px;
}

.block {
  width: 150px;
  height: 135px;
  border: 2px solid rgb(80, 163, 164);
  flex-direction: row;
  border-radius: 25px;
  margin: 1% 1% 0 1%;
}

.block.entity {
  border-color: rgb(255, 100, 78);
}

.title {
  color: rgb(112, 229, 230);
  font: normal 1.3em 'circe';
  text-align: center;
  margin-top: 5%;
}

.cost {
  color: #fff;
  font: normal 0.8em 'circe';
  text-align: center;
  margin-top: 10%;
}

.deadlines {
  text-align: center;
  margin-top: 15%;
  color: rgb(128, 128, 128);
  font: normal 1em 'circe';
}

.deadlines_second {
  text-align: center;
  margin-top: 10%;
  color: #fff;
  font: normal 1em 'circe';
}

.container {
  /*margin-top: 4%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_block {
  /*margin-top: 4%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 330px;*/
}

.shell_first_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.first_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750px;
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;
  border-top: 0 solid #fff;
  border-bottom: 2px solid rgb(80, 163, 164);
}

div.contacts_first_line {
  font: 400 1em 'circe';
  color: #fff;
  margin-top: 5%;
  width: 100%;
}

.shell_second_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.second_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750px;
}

div.contacts_second_line {
  font: 400 1em 'circe';
  color: #fff;
  margin-top: 5%;
  width: 100%;
}

.form {
  margin: 3% 0 2% 0;
  text-align: center;
  width: 250px;
}

.form_border {
  margin: 3% 0 2% 0;
  padding-left: 0;
  text-align: center;
  border-left: 2px solid rgb(80, 163, 164);
  border-right: 0 solid #fff;
  border-top: 0 solid #fff;
  border-bottom: 0 solid #fff;
  width: 250px;
}

.form_border.entity {
  border-color: rgb(255, 100, 78);
}

.second_form {
  margin: 1% 0 4% 0;
  text-align: center;
  width: 250px;
}

.second_form_border {
  margin: 3% 0 2% 0;
  padding-left: 0;
  text-align: center;
  border-left: 2px solid rgb(80, 163, 164);
  border-right: 0 solid #fff;
  border-top: 0 solid #fff;
  border-bottom: 0 solid #fff;
  width: 250px;
}

.second_form_border.entity {
  border-color: rgb(255, 100, 78);
}

.second_form_date {
  margin: 3% 0 2% 0;
  text-align: center;
  width: 250px;
}

.top_line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1% 0 1% 0;
}

.bottom_line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0 1% 0;
}

.first_row.entity {
  border-color: rgb(255, 100, 78);
}

.main_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 2% 5% 2%;
}

.label {
  font: normal 1.1em 'circe';
  margin: 0 0 2% 2%;
  color: #fff;
}

.label.entity {
  border-color: rgb(255, 100, 78);
}

.reference {
  /*display: flex;*/
  display: none;
  flex-direction: row;
  margin: 3% 0 0 2%;
}

.labelReference {
  font: normal 1.1em 'circe';
  color: #fff;
  margin-right: 4%;
}

.linkReference {
  font: normal 1.1em 'circe';
}

.linkReference.entity {
  border-color: rgb(255, 100, 78);
}

textarea {
  border: 2px solid rgb(80, 163, 164);
  border-radius: 25px;
  background-color: rgb(25, 36, 47);
  height: 100px;
  width: 450px;
  font: normal 1em 'circe';
  color: #fff;
  padding: 2%;
}

textarea.entity {
  border-color: rgb(255, 100, 78);
}

label {
  text-align: center;
  color: rgb(192, 192, 192);
  font: normal 1.2em 'circe';
}

input {
  background-color: rgb(25, 36, 47);
  border: 0;
  text-align: center;
  height: 4px;
  outline: none;
  position: relative;
  z-index: 5;
}

input.date {
  background-color: rgb(25, 36, 47);
  border: 0;
  color: white;
  width: 100%;
  text-align: center;
  height: 3em;
  outline: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  padding: 0; /*padding: 0 1em 0 1em;*/
  /*width: calc(100% - 2em);*/
}

.footer_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1em);
}

.left_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 1% 0 1% 0;
}

.right_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 1% 0 1% 0;
}

.manager {
  color: #fff;
  font: normal 1em 'circe';
  width: 100%;
  text-align: center;
}

.manager.entity {
  border-color: rgb(255, 100, 78);
  color: #fff;
}

.soundEngineer {
  color: #fff;
  font: normal 1em 'circe';
  border-left: 3px solid rgb(80, 163, 164);
  border-right: 3px solid rgb(80, 163, 164);
  width: 100%;
  text-align: center;
}

.soundEngineer.entity {
  border-color: rgb(255, 100, 78);
  color: #fff;
}

.count_final {
  color: rgb(80, 163, 164);;
  font: normal 1.5em 'circe';
  text-align: center;
}

.count_final.entity {
  border-color: rgb(255, 100, 78);
  color: rgb(255, 100, 78);
}

.format {
  color: #fff;
  font: normal 1em 'circe';
  border-left: 3px solid rgb(80, 163, 164);
  border-right: 3px solid rgb(80, 163, 164);
  width: 100%;
  text-align: center;
}

.format.entity {
  border-color: rgb(255, 100, 78);
  color: #fff;
}

.payment {
  color: #fff;
  font: normal 1em 'circe';
  width: 100%;
  text-align: center;
}

.payment.entity {
  border-color: rgb(255, 100, 78);
  color: #fff;
}

.footer_date {
  color: #fff;
  font: normal 1em 'circe';
  border-left: 3px solid rgb(80, 163, 164);
  width: 100%;
  text-align: center;
}

.footer_date.entity {
  border-color: rgb(255, 100, 78);
  color: #fff;
}

/*
@media only screen
and (min-device-width: 1000px) and (max-device-width: 1300px)
and (min-device-height: 700px) and (max-device-height: 900px){
  div.textarea {
    width: 420px;
  }

  .top_line {
    margin: 0;
  }

  .shell_first_row {
    height: 85px;
  }

  .shell_second_row {
    height: 85px;
  }

  .form {
    margin: 1% 0 1% 0;
  }

  .form_border {
    margin: 1% 0 1% 0;
  }

  div.contacts_first_line {
    margin-top: 3%;
  }

  .second_form_date {
    margin: 1% 0 1% 0;
  }

  .second_form_border {
    margin: 1% 0 1% 0;
  }

  div.contacts_second_line {
    margin-top: 3%;
  }

  .main_block {
    height: auto;
  }

  .block {
    width: 11%;
    height: auto;
  }

  .cost {
    margin: 0;
  }

  .main_bottom {
    margin: 1% 3% 0 3%;
  }

  .reference {
    margin: 1% 0 0 2%;
  }
}

@media only screen
and (min-device-width: 1281px)
and (max-device-width: 1440px)
and (min-device-height: 801px) {
  div.textarea {
    width: 420px;
  }

  .shell_first_row {
    height: 85px;
  }

  .shell_second_row {
    height: 85px;
  }

  .form {
    margin: 2% 0 2% 0;
  }

  .form_border {
    margin: 2% 0 2% 0;
  }

  div.contacts_first_line {
    margin-top: 7%;
  }

  .second_form_date {
    margin: 2% 0 2% 0;
  }

  .second_form_border {
    margin: 2% 0 2% 0;
  }

  div.contacts_second_line {
    margin-top: 7%;
  }

  .block {
    height: 115px;
  }

  .title {
    margin-top: 0;
  }

  .cost {
    margin-top: 5%;
  }

  .deadlines {
    margin-top: 10%;
  }

  .deadlines_second {
    margin-top: 5%;
  }

  .main_block {
    height: auto;
  }

  .top_line {
    margin-top: 0;
  }

  .bottom_line {
    margin-top: 0;
  }

  .main_bottom {
    margin-top: 0;
  }

  div.textarea {
    height: 70px;
  }

  .left_footer {
    width: 40%;
  }

  .right_footer {
    width: 40%;
  }

  .label {
    margin: 0 0 2% 0;
  }

  .link_reference {
    margin: 2% 0 0 0;
  }
}


@media only screen
and (min-device-width: 801px)
and (max-device-width: 900px)
and (min-device-height: 1281px) {
  .top_line {
    flex-wrap: wrap;
  }

  .bottom_line {
    flex-wrap: wrap;
  }

  .title {
    margin-top: 1%;
  }

  .main_block {
    height: auto;
  }

  .block {
    margin: 1% 1% 8% 1%;
  }

  .top_line {
    margin: 0;
  }

  .bottom_line {
    margin: 0;
  }

  .deadlines {
    margin-top: 6%;
  }

  .deadlines_second {
    margin-top: 4%;
  }

  div.textarea {
    width: 225px;
    height: 135px;
    padding: 2%;
  }

  .label {
    width: 235px;
    height: auto;
    padding-top: 0;
  }

  .link_reference {
    width: 95%;
    height: 70px;
  }

  .next {
    margin: -9% 3% 0 0;
  }
}
*/
