<div>
  <div class="header">
    <div class="buttonHead">
      <div class="divNext">
        <button class="next" (click)="captureScreen()" [class.entity]="entity == true">EMail</button>
      </div>
      <!--<button (click)="captureScreen()" [class.entity]="entity == true">ПДФ</button>-->
    </div>
    <p class="active" [class.entity]="entity == true">Техническое задание на пост-обработку материала</p>
    <app-header></app-header>
  </div>
  <div class="container">
    <div class="shell_first_row">
      <div class="first_row" [class.entity]="entity == true">
        <div class="form">
          <label class="label_contacts">Артист<br>
            <!--<input type="text" placeholder="Артист">-->
            <div class="contacts_first_line">{{artist}}</div>
          </label>
        </div>
        <div class="form_border" [class.entity]="entity == true">
          <label>Проект<br>
            <div class="contacts_first_line">{{project}}</div>
          </label>
        </div>
        <div class="form_border" [class.entity]="entity == true">
          <label>Название
            <div class="contacts_first_line">{{nameSong}}</div>
          </label>
        </div>
      </div>
    </div>
    <div class="shell_second_row">
      <div class="second_row">
        <div class="second_form_date">
          <label>Дата cдачи<br>
            <div class="contacts_second_line">{{dateRelease}}</div>
          </label>
        </div>
        <div class="second_form_border" [class.entity]="entity == true">
          <label>Телефон<br>
            <div class="contacts_second_line" mask="+0 (000) 000-00-00">{{artistPhone}}</div>
          </label>
        </div>
        <div class="second_form_border" [class.entity]="entity == true">
          <label>Email<br>
            <div class="contacts_second_line">{{artistEmail}}</div>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="main_block">
    <!-- Должны быть реализованы выборы из предыдущих страниц -->
    <div class="top_line">
      <div *ngFor="let container of mixContainers" class="block" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">{{container.name}}</p>
        <p class="cost">{{container.cost}}</p>
        <p class="cost" *ngIf="container.count>0">Количество: {{container.count}}</p>
      </div>
    </div>
  </div>

  <div class="main_bottom">
    <div>
      <p class="label" [class.entity]="entity == true">Рекомендация от студии</p>
      <textarea class="textarea" [class.entity]="entity == true">{{recommendations}}</textarea>
    </div>
    <div class="WishesAndReference">
      <div>
        <p class="label" [class.entity]="entity == true">Пожелания артиста</p>
        <textarea class="textarea" [class.entity]="entity == true">{{wishes}}</textarea>
      </div>
      <div class="reference">
        <p class="labelReference" [class.entity]="entity == true">Ссылка на референс</p>
        <p class="linkReference" [class.entity]="entity == true"><label>
          <a href="{{reference}}">{{reference}}</a>
          <input (input)="enterReference($event.target.value)">
        </label>
        </p>
      </div>
    </div>
  </div>



  <footer>
    <div class="footer_label">
      <div class="left_footer">
        <p class="manager" [class.entity]="entity == true">Менеджер: <b>{{manager}}</b></p>
        <p class="soundEngineer" [class.entity]="entity == true">Звукорежиссёр: <b>{{soundEngineer}}</b></p>
      </div>

      <div class="middle_footer">
        <p class="count_final" [class.entity]="entity == true"><b>Итого: {{exitNumber(totalCost) + " ₽"}}</b></p>
      </div>

      <div class="right_footer">
        <p class="format" [class.entity]="entity == true">Формат: <b>{{format}}</b></p>
        <p class="payment" [class.entity]="entity == true">Оплата: <b>{{payment}}</b></p>
        <p class="footer_date" [class.entity]="entity == true">Дата: <b>{{todayDate}}</b></p>
      </div>
    </div>
  </footer>
</div>
