@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circe.ttf');
  src: url('/angular/src/assets/circe.eot');
  src: url('/angular/src/assets/circe.eot?iefix') format('eot'),
  url('/angular/src/assets/circe.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(25, 36, 47);
  height: 100%;
}
input {
  background-color: rgb(25, 36, 47);
  border: 0;
  color: white;
  width: 90%;
  outline: none;
  font: normal 1em 'circe';
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; /*padding: 0 1em 0 1em;*/
}

.logo {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.block {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
}

.responsible {
  margin: 7% auto 0 auto;
  width: 300px;
  height: 50px;
  border: 2px solid rgb(80, 163, 164);
  border-radius: 15px;
}

.responsible_label {
  font: normal 1.4em 'circe';
  text-align: center;
  margin-top: 5%;
  color: #fff;
  font-size: 1.1em;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.title {
  color: #fff;
  font: normal 1.4em 'circe';
  text-align: right;
  padding-right: 5%;
  border-right: 2px solid;
}

.label {
  width: 50%;
}

.email {
  color: #fff;
  font: normal 1.4em 'circe';
  text-align: left;
  width: 50%;
  padding-left: 2%;
}

button {
  margin: 0 1em 0 1em;
  width: 7em;
  height: 2.5em;
  background-color: rgb(25, 36, 47);
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: #fff;
  border: 2px solid rgb(80, 163, 164);
  font: normal 1.4em 'circe';
}

button.entity {
  border-color: rgb(90, 45, 42);
}

button:hover {
  border: 3px solid rgb(112, 229, 230);
}

button.entity:hover {
  border: 3px solid rgb(255, 100, 78);
}

button.entity {
  border-color: rgb(90, 45, 42);
}

.active {
  border: 3px solid rgb(112, 229, 230);
}

.active.entity {
  border: 2px solid rgb(255, 100, 78);
}

.border.entity {
  border-color: rgb(255, 100, 78);
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.ready {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  z-index: 1;
}

.back {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 0 1em 1em 1em;
  width: calc(100% - 2em);
}

/*#button_ready {
  background-color: rgb(80, 163, 164);
}

#button_ready.entity {
  background-color: rgb(255, 100, 78);
}*/

#button_back {
  margin: 0;
}

.footer_label {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1em);
}

/*
@media only screen
and (min-device-width: 800px)
and (max-device-width: 900px)
and (min-device-height: 1280px) {
  .container {
    padding-left: 5%;
    padding-right: 27%;
  }
}
*/
