<div class="header">
  <app-burger-menu></app-burger-menu>
  <app-header></app-header>
</div>
<div class="container">
  <div class="block">
    <label class="label">
      <div class="border" [class.entity]="entity == true">
        <p class="title">Менеджер</p>
      </div>
    </label>
    <label class="email">
      {{emailManager}}
    </label>
  </div>

  <div class="block">
    <label class="label">
      <div class="border" [class.entity]="entity == true">
        <p class="title">Звукорежиссёр</p>
      </div>
    </label>
    <label class="email">
      <input type="email" placeholder="Email Звукорежиссёра" value="{{soundEngineerEmail}}" (input)="enterSoundEngineer($event.target.value)">
    </label>
  </div>

  <div class="block">
    <label class="label">
      <div class="border" [class.entity]="entity == true">
        <p class="title">Артист</p>
      </div>
    </label>
    <label class="email">
      {{artistEmail}}
    </label>
  </div>
</div>
<footer>
  <div class="ready">
    <button id="button_ready" (click)="sendEmail()" [class.entity]="entity == true">Оправить</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goFinal()" [class.entity]="entity == true">Назад</button>
  </div>
</footer>
