<div class="header">
  <app-burger-menu></app-burger-menu>
  <div class="buttonHead">
    <button class="active" [class.entity]="entity == true">Мастеринг</button>
    <button (click)="goMasteringOnline()" [class.entity]="entity == true">Онлайн</button>
    <button (click)="goAnalog()" [class.entity]="entity == true">Аналоговый</button>
  </div>
  <app-header></app-header>
</div>
<div class="container">
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('Цифровой;1 500 ₽.;срок: 3-4 дня')" [checked]="digital()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">Цифровой</p>
        <p class="cost" [class.entity]="entity == true">1 500 ₽</p>
      </div>
    </label>
    <p class="deadlines" [class.entity]="entity == true">срок: 3-4 дня</p>
  </div>
  <div>
    <label>
      <input type="radio" name="radio" (change)="select('STEM;1 800 ₽.;срок: 4-5 дня')" [checked]="stem()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">STEM</p>
        <p class="cost">1 800 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 4-5 дня</p>
  </div>
  <div>
    <label>
      <input type="checkbox" name="radio" (change)="check('iTunes;500 ₽.;срок: 3 дня')"   [checked]="checkITunes()">
      <div class="check" [class.entity]="entity == true">
        <p class="title" [class.entity]="entity == true">iTunes</p>
        <p class="cost">500 ₽</p>
      </div>
    </label>
    <p class="deadlines">срок: 3 дня</p>
  </div>
</div>
<footer>
  <!--<button id="button_back" (click)="goOnline()" [class.entity]="entity == true">Назад</button>
  &lt;!&ndash; Назад на страницу Сведение - Онлайн &ndash;&gt;
  <div class="footer_label">
    <p class="manager">Менеджер: <b>Мария Гольм</b></p>
    <p class="date">Дата: <b>20.05.19г.</b></p>
  </div>-->
  <div class="ready">
    <button id="button_ready" (click)="next()" [class.entity]="entity == true">Далее</button>
  </div>
  <div class="back">
    <button id="button_back" (click)="goOnline()" [class.entity]="entity == true" >Назад</button>
  </div>
</footer>
