@font-face {
  font-family: 'circe';
  src: url('/angular/src/assets/circeBold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(25, 36, 47);
  height: 100%;
}

.logo {
  width: 30em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  flex: 1 0 auto;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

button {
  margin: 0 1em 0 1em;
  width: 9em;
  height: 2.5em;
  background-color: rgb(25, 36, 47);
  border-radius: 25px;
  box-shadow: none !important;
  background-image: none;
  outline: none;
  color: #fff;
  border: 2px solid rgb(80, 163, 164);
  font: normal 1.4em 'circe';
}

button.entity {
  border-color: rgb(90, 45, 42);
}

button:hover {
  border: 3px solid rgb(112, 229, 230);
}

button.entity:hover {
  border: 3px solid rgb(255, 100, 78);
}


