<div class="container">
  <img class="logo" src="../../../assets/logo.png" alt="logo">
  <div class="button">
    <button id="button_repeat" (click)="goContacts()">Ещё проект</button>
    <!-- Далее на страницу Контакты - повтор заполнения -->
  </div>
  <div class="button">
  <button id="button_close" (click)="finish()">Закончить сессию</button>
  <!-- Далее на страницу Контакты - повтор заполнения -->
  </div>
</div>
<!--
<footer>
  <button id="button_back" (click)="goSending()">Назад</button>
  &lt;!&ndash; Назад на страницу Отправить &ndash;&gt;
  <div class="footer_label">
    <p class="manager">Менеджер: <b>Мария Гольм</b></p>
    <p class="date">Дата: <b>20.05.19г.</b></p>
  </div>
</footer>-->
